<section class="unique-feature-area section-gap" id="unique">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Latest products</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>


        <div class="row">
            {% if latest %}
                {% for item in latest %}
                    <div class="col-lg-3 col-md-6">
                        <div class="single-unique-product">
                            <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.title }}">
                            <div class="desc">
                                <h4>
                                    {{ item.title }}
                                </h4>
                                <h6>
                                    ${% if item.sale %}
                                        <del>{{ item.price }}</del>
                                        {{ item.sale_price }}
                                    {% else %}
                                        {{ item.price }}
                                    {% endif %}
                                </h6>
                                <a class="text-uppercase primary-btn" href="#">Pre Order</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-center">
                    <div class="alert alert-info" role="alert">No Latest products found!</div>
                </div>
            {% endif %}

        </div>
    </div>
</section>